{{define "top"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Golang Wiki</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Golang Wiki" lang="en" />
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body class="h-screen w-screen ">
    <!-- <nav role="navigation" hx-get="http://localhost:8080/files">
    </nav> -->
    <header>
        <h1 class="text-4xl p-3">Gowiki</h1>
    </header>
    <main class="w-full p-3 h-full overflow-y-scroll">
        {{end}}